/bindings/payloads/xml/ @egekorkan @mjkoster
/bindings/platforms/hue/ @egekorkan @mjkoster
/bindings/protocols/bacnet/ @ektrah
/bindings/protocols/coap/ @ektrah
/bindings/protocols/http/ @egekorkan @mjkoster
/bindings/protocols/modbus/ @relu91
/bindings/protocols/mqtt/ @egekorkan @mjkoster @relu91
/index.html @egekorkan @mjkoster
